<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wingstudio.sports.dao.ClassesMapper">
  <resultMap id="BaseResultMap" type="org.wingstudio.sports.domain.Classes">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="classes" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="score" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="teketime" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, classes, score, teketime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from classes_table
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getAllClasses" resultType="org.wingstudio.sports.domain.Classes">
      select * from classes_table where teketime=#{taketime} order by score desc
    </select>
  <select id="getByClasses" resultType="org.wingstudio.sports.domain.Classes">
    select * from classes_table where classes=#{classes} and teketime=#{taketime}
  </select>
  <select id="getClasese" resultType="org.wingstudio.sports.domain.Classes">
    select * from classes_table where teketime=#{taketime}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from classes_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByClasses">
      delete  from classes_table where classes=#{classes} and teketime=#{taketime}
    </delete>
    <insert id="insert" parameterType="org.wingstudio.sports.domain.Classes">
    insert into classes_table (id, classes, score, 
      teketime)
    values (#{id,jdbcType=INTEGER}, #{classes,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, 
      #{teketime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.wingstudio.sports.domain.Classes">
    insert into classes_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classes != null">
        classes,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="teketime != null">
        teketime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="teketime != null">
        #{teketime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.wingstudio.sports.domain.Classes">
    update classes_table
    <set>
      <if test="classes != null">
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="teketime != null">
        teketime = #{teketime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wingstudio.sports.domain.Classes">
    update classes_table
    set classes = #{classes,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      teketime = #{teketime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateClasses">
    update classes_table set score=#{score} where classes=#{classes} and teketime=#{teketime}
  </update>
</mapper>