<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wingstudio.sports.dao.LevelScoreMapper">
  <resultMap id="BaseResultMap" type="org.wingstudio.sports.domain.LevelScore">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="twolevel" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="recordlevel" javaType="java.lang.Double" jdbcType="DOUBLE" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, twolevel, recordlevel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from levelscore_table
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectPreScore" resultType="java.lang.Double">
      select twolevel from twoLevel_table where id=1
    </select>
  <select id="selectScore" resultType="java.lang.Double">
    select recordlevel from twoLevel_table where id=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from levelscore_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.wingstudio.sports.domain.LevelScore">
    insert into levelscore_table (id, twolevel, recordlevel
      )
    values (#{id,jdbcType=INTEGER}, #{twolevel,jdbcType=DOUBLE}, #{recordlevel,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.wingstudio.sports.domain.LevelScore">
    insert into levelscore_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="twolevel != null">
        twolevel,
      </if>
      <if test="recordlevel != null">
        recordlevel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="twolevel != null">
        #{twolevel,jdbcType=DOUBLE},
      </if>
      <if test="recordlevel != null">
        #{recordlevel,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.wingstudio.sports.domain.LevelScore">
    update levelscore_table
    <set>
      <if test="twolevel != null">
        twolevel = #{twolevel,jdbcType=DOUBLE},
      </if>
      <if test="recordlevel != null">
        recordlevel = #{recordlevel,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wingstudio.sports.domain.LevelScore">
    update levelscore_table
    set twolevel = #{twolevel,jdbcType=DOUBLE},
      recordlevel = #{recordlevel,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>