<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wingstudio.sports.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="org.wingstudio.sports.domain.Message">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="message" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="checked" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stunum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuname" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, message, checked, stunum, stuname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getNocheck" resultType="org.wingstudio.sports.domain.Message">
    select * from message_table where checked=0
  </select>
  <select id="getCheck" resultType="org.wingstudio.sports.domain.Message">
    select * from message_table where checked=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.wingstudio.sports.domain.Message">
    insert into message_table (id, message, checked, 
      stunum, stuname)
    values (#{id,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{checked,jdbcType=INTEGER}, 
      #{stunum,jdbcType=VARCHAR}, #{stuname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.wingstudio.sports.domain.Message">
    insert into message_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="checked != null">
        checked,
      </if>
      <if test="stunum != null">
        stunum,
      </if>
      <if test="stuname != null">
        stuname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=INTEGER},
      </if>
      <if test="stunum != null">
        #{stunum,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null">
        #{stuname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <insert id="addMessage">
      insert  into message_table values (null ,#{message},0,#{stunum},#{stuname})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.wingstudio.sports.domain.Message">
    update message_table
    <set>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        checked = #{checked,jdbcType=INTEGER},
      </if>
      <if test="stunum != null">
        stunum = #{stunum,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null">
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wingstudio.sports.domain.Message">
    update message_table
    set message = #{message,jdbcType=VARCHAR},
      checked = #{checked,jdbcType=INTEGER},
      stunum = #{stunum,jdbcType=VARCHAR},
      stuname = #{stuname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById">
    update message_table set checked=1 where id=#{id}
  </update>
</mapper>