<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wingstudio.sports.dao.TeamMapper">
  <resultMap id="BaseResultMap" type="org.wingstudio.sports.domain.Team">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sportid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sportname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="campus" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="classes" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="profession" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="currentime" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, sportid, sportname, campus, classes, profession, currentime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from team_table
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="isTeamExist" resultType="java.lang.Integer">
      select count(1) from team_table where sportid=#{sportid} and profession=#{profession} and currentime=#{currentime}
    </select>
  <select id="getTeamList" resultType="org.wingstudio.sports.domain.Team">
    select * from team_table where currentime=#{currentime}  limit #{tempPage},#{pageCapacity};
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(1) from team_table where currentime=#{currentime}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from team_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.wingstudio.sports.domain.Team">
    insert into team_table (id, sportid, sportname, 
      campus, classes, profession, 
      currentime)
    values (#{id,jdbcType=INTEGER}, #{sportid,jdbcType=INTEGER}, #{sportname,jdbcType=VARCHAR}, 
      #{campus,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
      #{currentime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.wingstudio.sports.domain.Team">
    insert into team_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sportid != null">
        sportid,
      </if>
      <if test="sportname != null">
        sportname,
      </if>
      <if test="campus != null">
        campus,
      </if>
      <if test="classes != null">
        classes,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="currentime != null">
        currentime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sportid != null">
        #{sportid,jdbcType=INTEGER},
      </if>
      <if test="sportname != null">
        #{sportname,jdbcType=VARCHAR},
      </if>
      <if test="campus != null">
        #{campus,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="currentime != null">
        #{currentime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.wingstudio.sports.domain.Team">
    update team_table
    <set>
      <if test="sportid != null">
        sportid = #{sportid,jdbcType=INTEGER},
      </if>
      <if test="sportname != null">
        sportname = #{sportname,jdbcType=VARCHAR},
      </if>
      <if test="campus != null">
        campus = #{campus,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="currentime != null">
        currentime = #{currentime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wingstudio.sports.domain.Team">
    update team_table
    set sportid = #{sportid,jdbcType=INTEGER},
      sportname = #{sportname,jdbcType=VARCHAR},
      campus = #{campus,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      currentime = #{currentime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



</mapper>