<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wingstudio.sports.dao.TeamRoleMapper">
  <resultMap id="BaseResultMap" type="org.wingstudio.sports.domain.TeamRole">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sportid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sportname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rank" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="score" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="campus" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, sportid, sportname, rank, score, campus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teamRole_table
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getRoleBySportId" resultType="org.wingstudio.sports.domain.TeamRole">
      select * from  teamRole_table where campus=#{campus} and sportid=#{sportid}
    </select>
  <select id="isTeamRoleExsit" resultType="java.lang.Integer">
    select count(*) from teamRole_table where campus=#{campus} and sportid=#{sportid} and rank=#{rank}
  </select>
    <select id="getBySportid" resultType="org.wingstudio.sports.domain.TeamRole">
        select * from teamRole_table where sportid=#{sportid} order by campus,rank
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teamRole_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.wingstudio.sports.domain.TeamRole">
    insert into teamRole_table (id, sportid, sportname, 
      rank, score, campus
      )
    values (#{id,jdbcType=INTEGER}, #{sportid,jdbcType=INTEGER}, #{sportname,jdbcType=VARCHAR}, 
      #{rank,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, #{campus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.wingstudio.sports.domain.TeamRole">
    insert into teamRole_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sportid != null">
        sportid,
      </if>
      <if test="sportname != null">
        sportname,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="campus != null">
        campus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sportid != null">
        #{sportid,jdbcType=INTEGER},
      </if>
      <if test="sportname != null">
        #{sportname,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="campus != null">
        #{campus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.wingstudio.sports.domain.TeamRole">
    update teamRole_table
    <set>
      <if test="sportid != null">
        sportid = #{sportid,jdbcType=INTEGER},
      </if>
      <if test="sportname != null">
        sportname = #{sportname,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="campus != null">
        campus = #{campus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wingstudio.sports.domain.TeamRole">
    update teamRole_table
    set sportid = #{sportid,jdbcType=INTEGER},
      sportname = #{sportname,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      campus = #{campus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>